<!DOCTYPE html>
<html>
  <head>
    <title>Roar</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic' rel='stylesheet' type='text/css'> 

  </head>
  <body>
    <% if params[:controller] == 'registrations' && (params[:action] == 'edit' || params[:action] == 'update') %>
      <%= render :partial => 'layouts/profile_header' %>
    <% else %>
      <%= render :partial => 'layouts/header' %>
      <%= render :partial => 'layouts/left_bar' %>
    <% end %>
    <%= yield %>
  </body>
</html>
