<!DOCTYPE html>
<html>
  <head>
    <title>Roar</title>
    <%= stylesheet_link_tag    "home_css", :media => "all" %>
    <%= javascript_include_tag "home_js" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic' rel='stylesheet' type='text/css'> 
  </head>
  <body class="<%= 'pull_top' if params[:action] == 'index' %>">
    <% if params[:controller] == 'home' && params[:action] == 'index' %>
      <%= render :partial => 'layouts/home_header' %>
      <%= render :partial => 'layouts/flash_messages' %>
      <%= yield %>
      <%= render :partial => 'layouts/home_footer' %>
    <% else %>
      <%= render :partial => 'layouts/home_other_header' %>
      <%= render :partial => 'layouts/flash_messages' %>
      <%= yield %>
      <%= render :partial => 'layouts/home_other_footer' %>
    <% end %>
  </body>
</html>
